# Environment and Database secret files
.env
.env.*
config/database.php

# Compiled Windows binaries
*.exe

# Build output
/build/
/storage/agent/
/storage/packages/
/storage/screenshots/*
!/storage/screenshots/.gitkeep
